.cta {
  // Pattern Square for the Desktop Layout
  &__pattern-square {
    visibility: hidden;
    display: none;
  }

  &__keyboard-tablet {
    visibility: hidden;
    display: none;
  }

  &__keyboard-desktop {
    visibility: hidden;
    display: none;
  }

  &__button {
    @extend %button-mobile;
    background-color: $dark-orange;
    color: $real-white;
  }

  &__button:hover {
      background-color: $light-orange;
  }

}
