.intro {

  max-width: 400px;
  margin: 0 auto 0 auto ;

  &__images-mobile {
    display: none;
  }

  &__text h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    margin: 0 3.75rem 1.5rem 3.75rem;
    color: $dark-blue;
  }

  &__text p {
    @include paragraph;
    text-align: center;
    margin: 0 1.5rem 6.9375rem 1.5rem;
  }

  // Mobile needs to be behind @media too.
  @media screen and (max-width: 47.9375rem) {

    &__images-mobile {
      display: flex;
      margin-bottom: 75px;
    }

    &__image-left {
      background-image: linear-gradient(to bottom, hsla(22, 89%, 52%, 0.7), hsla(22, 89%, 52%, 0.7)), url(/assets/mobile/image-phone-and-keyboard.jpg);
      width: 8.0625rem;
      height: 12.0625rem;
      background-repeat: no-repeat;
      background-size: cover;
      height: 12.0625rem;
      border-radius: 0.9375rem;
      margin-right: 1.5rem;
      margin-left: -1.375rem;
    }

    &__image-right {
      background-image: url(/assets/mobile/image-glass-and-keyboard.jpg);
      width: 13.75rem;
      height: 12.0625rem;
      background-repeat: no-repeat;
      background-size: cover ;
      border-radius: 0.9375rem;
    }
  }

  // Tablet Version
  @media screen and (min-width: 768px) and (max-width: 991px) {
    &__images-tablet {
      visibility: visible;
      display: flex;
    }
  }

  // Desktop version
  @media screen and (min-width: 992px) {
    &__images-desktop {
      visibility: visible;
      display: flex;
    }
  }
}


