// Mobile Grid Container
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
    "cta_grid-area"
    "intro-grid-area"
    "features-grid-area";
}

.cta {
  grid-area: cta_grid-area;
}
.intro {
  grid-area: intro-grid-area;
}
.features {
  grid-area: features-grid-area;
}
