.header {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  text-align: center;
  margin: 23px 24px 4rem 24px ;


  &__logo {
    align-self: center;
  }

  &__button {
    @extend %button-mobile;
    background-color: $light-blue;
    color: $dark-blue;
    margin-left: 136px;
  }

  &__button:hover {
    background-color: $dark-blue;
    color: $real-white;
  }


  // Tablet Version
   @media screen and (min-width: 768px) and (max-width: 991px) {
     justify-content: space-between;
     max-width: 800px;
     margin: 39px 40px 62px 39px ;
   }

   &__button {
     width: 10.9375rem ;
     height: 3.625rem;
   }

}
