.header {
  display: flex;
  justify-content: space-between;
  margin: 1.4375rem 1.5rem 4rem 1.5rem ;
  
  &__logo {
    align-self: center;
  }

  &__button {
    @extend %button-mobile;
    background-color: $light-blue;
    color: $dark-blue;
  }

  &__button:hover {
    background-color: $dark-blue;
    color: $real-white;
  }
}