.header {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  text-align: center;
  margin: 23px auto 4rem auto ;


  &__logo {
    align-self: center;
  }

  &__button {
    @extend %button-mobile;
    background-color: $light-blue;
    color: $dark-blue;
    margin-left: 136px;
  }

  &__button:hover {
    background-color: $dark-blue;
    color: $real-white;
  }
}